h1{
    text-align: left;
    font-size: 200px;
    padding-left: 100px;
    padding-top: 100px;
    font-family: "Century Gothic", sans-serif;
}
p{
    text-align: center;
    font-family: "Century Gothic", sans-serif;
    color: rgb(187, 179, 179);
}
body{
    background-color: rgb(54, 51, 51);
}
hr{
    display: block;
    height: 20px;
    border-top: 1px solid #201f1f;
    margin: 1em 0;
    padding: 0;
}
