h1{
    text-align: left;
    font-size: 75px;
    padding-left: 100px;    
    padding-top: 100px;
    font-family: "Century Gothic", sans-serif; 
}

h2{
    text-align: right;
    font-size: 75px;
    padding-right: 100px;
    font-family: "Century Gothic", sans-serif;

}

p{
    font-family: "Century Gothic", sans-serif;
    color: rgb(187, 179, 179);
}

body{
    background-color: rgb(54, 51, 51);
    margin: 0;
}

#topLine{
    background-color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 25;
    border-radius: 0px 0px 35px 35px;
}

.textUnderName{
    font-size: 15px;
    padding-left: 120px;
    padding-bottom: 50px    ;
    font-family: "Century Gothic", sans-serif;
    max-width: 500px;
    text-align: left;
    
}

.textRightSide{
    text-align: left;
    font-size: 75px;
    padding-left: 100px;    
    padding-top: 100px;
    font-family: "Century Gothic", sans-serif; 
}
